body{
  /*display:grid;*/
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.editTasks {
  display:flex;
  flex-direction:row;
  padding-top: 20px;
}

.sortButton {
  display: grid;
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 40px;
  /*transform: scale(1.1);*/
}

.chooseList {
  transform: scale(1.1);
<<<<<<< HEAD
  /*padding-bottom: 10px;*/
  padding-top: 10px;
=======
  padding-bottom: 10px;
>>>>>>> e2b4a49e171ed224532aaed7e0ff9a7ba0dbc6c9
  padding-left: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
  display: inline-block;
}

#thisButton {
  color: darkmagenta;
  font-weight: bold;
}

h1 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 40px;
}

h4 {
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: 20px;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
