.select {
    font-family: "Lucida Console", "Courier New", monospace;
    display: inline-block;
    padding-right: 10px;
}

.addButton {
    width: 22px;
    background-color: #3cb371; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 22px;
    /*font-weight: bold;*/
}

.editButton {
    width: 50px;
    background-color: #3cb371; /* Green */
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-family: "Lucida Console", "Courier New", monospace;
    height: 22px;
    margin-right: 10px;
    margin-left: 10px;
}

.text-input {
    width: 100px;
    margin-left: 10px;
}