#true{
    opacity: 1;
}

#false{
    opacity: 0.5;
}

.priorityButtons {
    padding-left: 5px;
}

button {
    height: 25px;
}

/*low*/
.a{
    color: white;
    background-color: #1F51FF;
    border-style: none;
}

/*mid*/
.b{
    color: white;
    background-color: darkgreen;
    border-style: none;
}
/*high*/
.c{
    color: white;
    background-color: #D60000;
    border-style: none;
}

@media only screen and (max-device-width: 420px) {
    .priorityButtons2{
        display:none;
    }
}

@media only screen and (min-device-width: 421px) {
    .priorityButtons1 {
        display: none;
    }
}
