#true{
    opacity: 1;
}

#false{
    opacity: 0.5;
}

.priorityButtons {
    padding-left: 5px;
}

button {
    height: 25px;
}

/*low*/
.a{
    color: white;
    background-color: darkgreen;
}

/*mid*/
.b{
    color: white;
    background-color: darkorange;
}
/*high*/
.c{
    color: white;
    background-color: darkred;
}
