body{
    display: grid;
}

.whole{
    /*display: compact;*/
    padding-left: 20px;
}

.select {
    font-family: "Lucida Console", "Courier New", monospace;
    /*padding-left: 120px;*/
}

#sortText {
    font-size: 14px;
    font-weight: bold;
}
